//===============變數
// 斷點
$pad: 1024px;
$mini-pad: 768px;
$mobile: 420px;

//colors
$original-deep-O: #D68F4C;
$original-O: #DFAD77;
$original-O-rgba1: rgba(223, 173, 119, 0.1);
$original-deep-Y: #DBBB76;
$original-Y: #F2EEE6;
$original-light-Y: #F0EDE8;
$original-black: #131313;
$original-black-rgba3: rgba(0, 0, 0, 0.3);
$original-black-rgba1: rgba(0, 0, 0, 0.1);
$original-deep-gray: #505050;
$original-light-gray: #F2F2F2;
$original-white: #FFF;
$original-white-rgba3: rgba(255, 255, 255, 0.3);

//font
$h1: 96px;
$h1-m: 56px;
$h2: 28px;
$h2-m: 20px;
$h3: 24px;
$h3-m: 15px;
$h4: 24px;
$h4-m: 22px;
$body: 15px;
$minium: 12px;
$btn: 20px;
$btn-m: 16px;
$dis-1: 120px;
$dis-1-m: 80px;
$dis-2: 112px;
$dis-2-m: 72px;