header{
    width: 100%;
    @include flex($j-c:space-between, $a-i:center);
    padding: 32px 3% 0;
    @include absolute($top:0, $left:0, $z-i:100);
    @extend %border-box;

    h1{
        min-width: 128px;
        min-height: 32px;
        color: transparent;
        @extend %relative;

        @include mini-pad{
            min-width: 96px;
            min-height: 24px;
        }

        a{
            width: 100%;
            height: 100%;
            @include absolute;
            @include bgi($size:contain){
                background-image: url(../img/original_logo.svg);
            };
            @include transition($s:0.5s);
            
            &::before{
                content: '';
                width: 11px;
                height: 11px;
                margin-left: auto;
                @include bgi($size:contain){
                    background-image: url(../img/original_logo_dec.svg);
                };
                @include transition($s:0.5s);
                @extend %dis-bl;

                @include mini-pad{
                    width: 8px;
                    height: 8px;
                }
            }
        }

        &:hover, &:active{
            a{
                background-image: url(../img/original_logo_hover.svg);

                &::before{
                    background-image: url(../img/original_logo_dec_hover.svg);
                }
            }
        }
    }

    button.hamber{
        height: 43px;
        border-radius: 72px;
        padding: 16px;
        background: $original-light-Y;
        box-shadow: 0px 4px 32px -8px rgba(172, 172, 172, 0.2);
        z-index: 1;
        @extend %border-box, %dis-none;
        
        @include pad{
            @include flex($d:column, $j-c:space-between, $a-i:flex-end);
        }

        &::before{
            content: '';
            width: 16px;
            height: 1px;
            background: $original-O;
            box-shadow: 0px 5px 0px 0px $original-O;
            @extend %dis-bl;
        }

        &::after{
            content: '';
            width: 10px;
            height: 1px;
            background: $original-O;
            @extend %dis-bl;
        }
    }

    nav{
        @include pad{
            display: none;
            width: 40%;
            @include absolute($top:0, $right:0);
        }

        @include mini-pad{
            width: 55%;
        }

        .nav-container{
            @include flex($a-i:center);
            gap: 24px;
            border-radius: 72px;
            padding: 16px 40px;
            background: $original-light-Y;
            box-shadow: 0px 4px 32px -8px rgba(172, 172, 172, 0.2);
    
            @include pad{
                @include flex($d:column-reverse, $j-c:center);
                gap: 20px;
                height: 100vh;
                border-radius: 72px 0 0 0;
                background: $original-O-rgba1;
                backdrop-filter: blur(2px);
            }
    
            a{
                color: $original-black;
                @include transition($s:0.5s);
    
                &:hover, &:active{
                    color: $original-deep-O;
                }
            }
    
            >ul{
                @include flex;
                gap: 40px;

                @include pad{
                    flex-direction: column;
                }
    
                &::after{
                    content: '';
                    width: 1px;
                    height: 24px;
                    background: $original-O;
                    transform: rotate(15deg) translateX(-5px);
                    transform-origin: center center;
                    @extend %dis-bl;

                    @include pad{
                        display: none;
                    }
                }
            }
    
            >a{
                @include flex($a-i:center);
                gap: 4px;

                @include pad{
                    border-bottom: 1px solid $original-O;
                    padding-bottom: 20px;
                }
    
                &::before{
                    content: '';
                    width: 16px;
                    height: 16px;
                    @include bgi($size:cover){
                        background-image: url(../img/cart.svg);
                    };
                    @include transition($s:0.5s);
                    @extend %dis-bl;
                }
    
                &:hover, &:active{
                    &::before{
                        background-image: url(../img/cart_hover.svg);
                    }
                }
            }
        }
    }
}