<section class="index-banner">
    <div class="banner-container">
        <div class="swiper imgSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/img/banner_slide_demo.png"
                    data-swiper-parallax-scale="0.15">
                    <p class="dis-2">Pure,<br>Organic,<br>Natural.</p>
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/banner_slide_demo.png"
                    data-swiper-parallax-scale="0.15">
                    <p class="dis-2">Pure,<br>Organic,<br>Natural.</p>
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/banner_slide_demo.png"
                    data-swiper-parallax-scale="0.15">
                    <p class="dis-2">Pure,<br>Organic,<br>Natural.</p>
                </div>
            </div>
        </div>
        <article>
            <h2 class="h1" data-aos="fade-right">Natural<br>Skin<br>Products</h2>

            <div class="article-text" data-aos="fade-left">
                <p>Sit elit incididunt Lorem minim ea pariatur anim dolor ut veniam amet ad. Ipsum tempor commodo ullamco Lorem incididunt proident nisi nostrud dolore. Et labore minim laboris esse amet eu eu exercitation ea esse velit tempor culpa. </p>
                <a href="/" class="btn"><span></span>View All</a>
            </div>
        </article>
    </div>
</section>